*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.s{
    border: 1px solid ;
    display: flex;
    width: 100%;
    height: 6vh;
    background-color:  black;
    display: none;
    transform: all .2s ;
    border-bottom: .5px solid white;
    margin-bottom: 1%;
}

#btn{
    height: auto;
    width: 3%;
    height: auto;
    border-radius: 100%;
    display: inline-block;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    color: white;
}
form{
    width: 100%;
}
.d{
    display: inline-block;
    height: 5.8vh;
    outline-width: 0;
    width: 100%;
} 